.benefits-item{
  display: flex;
  align-items: center;
  margin-bottom: 150px;
  justify-content: space-between;

  &:nth-child(2n){
    flex-direction: row-reverse;
  }

  &:last-child{
    margin-bottom: 0;
  }
}

.benefits-item__text{
  max-width: 445px;
}

.benefits-item__title{
  @include desctop-heading-3;
  margin: 0;
}

.benefits-item__description{
  margin: 0;
  margin-top: 24px;
  margin-bottom: 54px;
}

.benefits-item__img-wrapper{
  position: relative;
}

.benefits-item__img-wrapper--girl::before{
  @include before-after;
  background-image: url(../../img/arrow-girl.svg);
  width: 740px;
  height: 150px;
  position: absolute;
  bottom: 0;
  transform: translateX(-18%);
}

.benefits-item__img-wrapper--city::before{
  @include before-after;
  background-image: url(../../img/arrow-city.svg);
  width: 740px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-35%);
}

.benefits-item__img-wrapper--wallet::before{
  @include before-after;
  background-image: url(../../img/arrow-wallet.svg);
  width: 740px;
  height: 150px;
  position: absolute;
  top: 0;
  
  transform: translate(35%, 50%);
}

.benefits-item__img-wrapper--mobility::before{
  @include before-after;
  background-image: url(../../img/arrow-girl.svg);
  width: 740px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: rotateX(-180deg) translate(-130px, 30px);
}

.benefits-item__img-wrapper--urban::before{
  @include before-after;
  background-image: url(../../img/arrow-city.svg);
  width: 740px;
  height: 150px;
  position: absolute;
  top: 0;
  right: 0;
  transform: translateX(-35%);
}

.benefits-item__img-wrapper--mission::before{
  @include before-after;
  background-image: url(../../img/arrow-girl.svg);
  width: 740px;
  height: 150px;
  position: absolute;
  bottom: 0;
  left: -130px;
}

.benefits-item__img{
  border-radius: 50%;
  box-shadow: 509px 1px  #E5ECF4;
}

.benefits-item__img--city{
  box-shadow: -509px 1px  #E5ECF4;
}

// .benefits-item__img--urban{
//   box-shadow: -509px 1px  #E5ECF4;
// }


@media only screen and (max-width: $tablet) {
  .benefits-item{
    display: flex;
    align-items: center;
    flex-direction: column-reverse;
    margin-bottom: 128px;
    // justify-content: space-between;
  
    &:nth-child(2n){
      flex-direction: column-reverse;
    }
  }

  .benefits-item__text{
    max-width: 100%;
    text-align: center;
  }

  .benefits-item__title{
    margin-top: 64px;
  }

  .benefits-item__description{
    margin-top: 40px;
  }

  .benefits-item__img-wrapper{
    position: relative;
  }

  .benefits-item__img-wrapper--girl::before{
    @include before-after;
    background-image: url(../../img/arrow-girl.svg);
    width: 734px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(20%);
  }

  .benefits-item__img-wrapper--city::before{
    @include before-after;
    background-image: url(../../img/arrow-city.svg);
    width: 734px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-35%);
  }

  .benefits-item__img-wrapper--wallet::before{
    @include before-after;
    background-image: url(../../img/arrow-wallet.svg);
    width: 734px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(50%, 50%);
  }

  .benefits-item__img-wrapper--mobility::before{
  width: 734px;
}
}

@media only screen and (max-width: 690px) {
  .benefits-item__img-wrapper--mission::before{
    left: -85px;
  }
}

@media only screen and (max-width: $mobile) {
  .benefits-item__title{
    @include mobile-heading-3;
  }

  .benefits-item__img-wrapper--girl::before{
    @include before-after;
    background-image: url(../../img/arrow-girl.svg);
    width: 734px;
    height: 150px;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translateX(0%);
  }

  .benefits-item__img-wrapper--city::before{
    @include before-after;
    background-image: url(../../img/arrow-city.svg);
    width: 734px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(-10%);
  }

  .benefits-item__img-wrapper--wallet::before{
    @include before-after;
    background-image: url(../../img/arrow-wallet.svg);
    width: 734px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(75%, 25%);
  }

  .benefits-item__img-wrapper--urban::before{
    @include before-after;
    background-image: url(../../img/arrow-city.svg);
    width: 740px;
    height: 150px;
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(0%);
  }

  .benefits-item__img-wrapper--mobility::before{
    transform: rotateX(-180deg) translate(-4px, 30px);
  }

  .benefits-item__img-wrapper--mission::before{
    left: 0;
  }
}