.values__title{
  margin: 0;
  font-family: 'Space Mono', monospace;
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 48px;
  text-align: center;
  letter-spacing: -2.14286px;
  color: #495567;
}

.values__list{
  @include style-list;
  display: flex;
  justify-content: space-between;
  margin-top: 103px;
}


@media only screen and (max-width: $tablet) {
  .values__list{
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    margin-top: 105px;
  }
}

@media only screen and (max-width: $mobile) {
  .values__list{
    margin-top: 64px;
  }

  .values__title{
    font-size: 32px;
    line-height: 32px;
  }
}